# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists
* Arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL 
4. Julia 
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Matplotlib
3. Seaborn
4. Scikit Learn
5. Numpy

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter Notebook|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ikechukwu Emeka